{% extends '::base.html.twig' %}

{% block pageTitle %}Forgot Password{% endblock %}

{% block body %}
<div class="row">
    <div id="alerts" class="col-12">
        {% if app.request.getHost == 'tool.leadgenix.com' %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            This is the development environment. Please use the <a href="http://reports.leadgenix.com" target="_blank">Production Environment</a> for live work.
        </div>
        {% endif %}

        {% for flashType in app.session.flashbag.keys %}
            <div class="alert alert-{{flashType}}">
                {% for flashMessage in app.session.flashbag.get(flashType) %}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ flashMessage }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div id="header" class="col-6 col-md-offset-3 col-lg-offset-3">
        <div class="site-logo login-page">
            <img src="{{ asset('themes/'~app.session.get('active_theme_name')~'/img/logo.png') }}" alt="" />
        </div>
    </div>
</div>
<div class="row">
    <div class="widget col-6 col-md-offset-3 col-lg-offset-3">
        <div class="widget-header">
            Forgot Password
        </div>
        <div class="widget-content">
            <form action="" method="POST" class="form-horizontal">
                <p>Please enter your account email and a link to reset your password will be sent to you.</p>
                {{ form(form) }}
            </form>
        </div>
    </div>
</div>


{% endblock %}
